:root {
  --background: #1b1b1b;
  --text1: #f5d67b;
  --text2: #72e0d1;
  --shadow: 0 3px 5px rgba(0, 0, 0, 0.384);
}

code {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--background);
  color: var(--text1);
  box-shadow: var(--shadow);
  margin: 10px 0;
}

svg {
  width: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul > :nth-child(even) {
  background: rgb(239, 238, 239);
}

li {
  border-bottom: black solid 1px;
}

li > button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

button > * {
  margin: 10px;
}

.FileBrowser {
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
}

.FileBrowser > span {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button > svg {
  width: 20px;
}

button {
  background: none;
  border: none;
}
