{% extends "base.html" %}
{% load static %}
{% load package_list %}
{% block meta %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/package_list.css' %}"/>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/searchbar.css' %}"/>
{% endblock meta %}
{% block title %}
    JGET - Explore
{% endblock title %}
{% block content %}
    <h1 class="title">Popular Packages</h1>
    <form action="{% url "frontend:explore" %}" method="get">
        <div id="searchbar">
            <input id="input"
                   name="search"
                   placeholder="search for a package"
                   value="{{ request.GET.search }}"/>
            <button id="go" type="submit">
                <img height="20em"
                     width="20em"
                     src="{% static "assets/search.svg" %}"
                     alt="search"/>
            </button>
        </div>
    </form>
    <br/>
    {% package_list page_obj %}
{% endblock content %}
