{% extends "base.html" %}
{% load static %}
{% block title %}
    JGET
{% endblock title %}
{% block meta %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/home.css' %}"/>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/searchbar.css' %}"/>
{% endblock meta %}
<div />
{% block content %}
    <div id="statistics">
        <h2>{{ developers }} developers</h2>
        <h2>{{ packages }} packages</h2>
    </div>
    <div id="introduction">
        <h2>A Package Manager for Computercraft</h2>
    </div>
    <form action="{% url "frontend:explore" %}" method="get">
        <div id="searchbar">
            <input id="input" name="search" placeholder="search for a package"/>
            <button id="go" type="submit">
                <img height="20em"
                     width="20em"
                     src="{% static "assets/search.svg" %}"
                     alt="search"/>
            </button>
        </div>
    </form>
{% endblock content %}
